services:

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: task-backend
    restart: unless-stopped
    environment:
      DATABASE_URL: ${DATABASE_URL}
      JWT_SECRET: ${JWT_SECRET}
      JWT_REFRESH_SECRET: ${JWT_REFRESH_SECRET}
      ACCESS_TOKEN_EXPIRES: "30m"
      REFRESH_TOKEN_EXPIRES: "7d"
      CLIENT_URL: "http://135.116.17.230"
      NODE_ENV: "production"
      PORT: "5000"
    ports:
      - "5000:5000"
    networks:
      - task-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: task-frontend
    restart: unless-stopped
    depends_on:
      - backend
    ports:
      - "3000:80"
    networks:
      - task-network

networks:
  task-network:
    driver: bridge
