services:

  backend:
    build:
      context: ./backend
    container_name: task-backend
    restart: unless-stopped
    environment:
      DATABASE_URL: ${DATABASE_URL}
      JWT_SECRET: ${JWT_SECRET}
      JWT_EXPIRES_IN: "1d"
      CLIENT_URL: "http://135.116.17.230"
      NODE_ENV: "production"
      PORT: "5000"
    ports:
      - "5000:5000"
    networks:
      - task-network

  frontend:
    build:
      context: ./frontend
    container_name: task-frontend
    restart: unless-stopped
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - task-network

networks:
  task-network:
    driver: bridge
